#projects{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
	padding-bottom: 0 !important;
}

.proj_header{
	color: #bababa;
	font-size: 34px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 30px;
}


.my_projects{
	width: 100%;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	padding-bottom: 0;
}



@media only screen and (max-width: 780px) {
	#projects{ width: 100%; padding: 10px; }
	.proj_header{ font-size: 25px; margin-bottom: 20px; }
	.my_projects{ padding: 10px; }

}

@media only screen and (max-width: 425px) {
	#projects{ width: 100%; padding: 10px; }
	.proj_header{ font-size: 20px; margin-bottom: 20px; }
	.my_projects{ padding: 10px; }

}