#about{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #d6d6d6;
} 

.story{
    width: 60%;
    margin: 20px auto;
    box-shadow: 0 30px 60px rgba(0,0,0,.1);
    border-radius: 50px;
    padding: 40px;
    transform: skewX(-12deg);
}

.story__shape{
    height: 140px;
    width: 140px;
    float: left;
    overflow: hidden;
    border-radius: 50%;  
    transform: translateX(0) translateY(-15px) skewX(12deg);
    position: relative;
    border: none;
    clip-path: circle(50%);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 20px;
}

.story__img{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -40%) scale(1.5);
    transition: all .5s;
}

.story__text{
    transform: skewX(12deg);
    color: black;
}

.skills{
	margin: 50px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills_header{
    color: #bababa;
	font-size: 34px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 30px;
}


@media only screen and (max-width: 780px) {
    .story{ width: 90%; }
    .story__shape { width: 120px; height: 120px; }
    .story_img{  }
    .story__text h4{ font-size: 17px;  }
    .story__text p{ font-size: 15px; }
    .skills{  }
    .skills_header{ font-size: 25px; margin-bottom: 20px; }

}

@media only screen and (max-width: 425px) {
    .story{ width: 85%; height: 250px; }
    .story__shape { width: 100px; height: 100px; }
    .story_img{  }
    .story__text h4{ font-size: 15px;  }
    .story__text p{ font-size: 12px; }
    .skills{  }
    .skills_header{ font-size: 20px; margin-bottom: 20px; }

}

@media only screen and (max-width: 375px) {
    .story{ width: 85%; height: 180px; padding: 20px; }
    .story__shape { width: 100px; height: 100px; }
    .story_img{  }
    .story__text h4{ font-size: 15px;  }
    .story__text p{ font-size: 10px; }
    .skills{  }
    .skills_header{ font-size: 20px; margin-bottom: 20px; }

}