.footer {
	width: 100%;
	padding: 10px;

	.get_In_touch {
		margin-bottom: 30px;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #9c9c9c;
	}

	.contact {
		height: 100%;

		svg {
			width: 40px;
			height: 35px;
			color: black;
		}
	}

	@media only screen and (max-width: 780px) {
		.get_In_touch {
			font-size: 18px;
		}
	}

	@media only screen and (max-width: 425px) {
		.get_In_touch {
			font-size: 14px;
		}

		.contact {
			svg {
				width: 30px;
				height: 25px;
			}
		}
	}
}
